<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>Ứng dụng cần dùng camera để chụp ảnh.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Ứng dụng cần lưu ảnh chụp vào thư viện Photos.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Ứng dụng cần vị trí của bạn để gắn thông tin GPS vào ảnh.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string> Ứng dụng cần quyền truy cập để xoá ảnh</string>
    <!-- iOS 13+ dùng SceneDelegate -->
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
        <key>UISceneConfigurations</key>
        <dict>
            <key>UIWindowSceneSessionRoleApplication</key>
            <array>
                <dict>
                    <key>UISceneConfigurationName</key>
                    <string>Default Configuration</string>
                    <key>UISceneDelegateClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
                </dict>
            </array>
        </dict>
    </dict>
</dict>
</plist>
